/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

.close {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.edit {
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 1rem;
  cursor: pointer;
}
