<div class="d-flex justify-content-center">
  <div>
    <div *ngIf='tasks.length; else noTasks'>
      <div>
        <input class="search" type="text" placeholder="Найти пост..." [(ngModel)]='search'>
      </div>

      <div cdkDropList (cdkDropListDropped)="drop($event)" class="dropContainer">
        <div class="task-box" *ngFor="let task of tasks | postsSearch: search; let idx = index"
          [class.completed]='task.completed' cdkDrag>

          <div class="hat-container">
            <a [ngStyle]="{
            background: deadline(task.date)
          }" class="datePlace"> Выполнить до {{ task.date | date: 'shortDate': null: 'ru' }}</a>
            <a class="close" (click)="remove(task.id)">&#x2718;</a>
          </div>
          <h5 class="card-title">{{ task.title | slice:0:23}}</h5>
          <p class="card-text">{{ task.text | slice:0:40}}</p>

          <div class="btns">
            <button href="#" class="btn btn-primary" [routerLink]="['task', task.id]">Открыть</button>
            <button href="#" class="btn btn-success" [disabled]="task.completed"
              (click)='completeTask(task.id)'>Завершить</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <p>Здесь будут отображаться ваши задачи</p>
</ng-template>
