
<div *ngIf='tasks.length; else loading'>
<div class="form-control">
    <input type="text" placeholder="Найти пост..." [(ngModel)]='search'>
</div>
<div 
class="card" 
style="width: 25rem;"
*ngFor='let task of tasks | postsSearch: search; let idx = index '>
<p id="datePlace">{{ task.date | date: 'medium': 'ru'}}</p>
<p class="close" (click)="remove(task.id)">&#x2718;</p>
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.text | slice:0:40}}</p>
    <a href="#" class="btn btn-primary" [routerLink]="['task', task.id]">Открыть</a>
    <a href="#" class="btn btn-success" [routerLink]="['task', task.id]">Завершить</a>
  </div>
    <p class="edit" data-toggle="tooltip" data-placement="bottom" title="Редактировать">&#9998;</p>
</div>

</div>

<ng-template #loading>
  <p class="text-center">Загрузка</p>
</ng-template>

<!-- <div *ngIf='tasks.length; else loading'> -->
  <!-- <div class="form-control"> -->
      <!-- <input type="text" placeholder="Найти пост..." [(ngModel)]='search'> -->
  <!-- </div> -->
<!--  -->
  <!-- <table> -->
      <!-- <thead> -->
          <!-- <tr> -->
              <!-- <th>#</th> -->
              <!-- <th>Автор</th> -->
              <!-- <th>Название</th> -->
              <!-- <th>Дата</th> -->
              <!-- <th>Действие</th> -->
          <!-- </tr> -->
      <!-- </thead> -->
      <!-- <tbody> -->
          <!-- <tr *ngFor='let task of tasks | postsSearch: search; let idx = index '> -->
              <!-- <td>{{ idx + 1 }}</td> -->
              <!-- <td>{{ task.title }}</td> -->
              <!-- <td>{{ task.text}}</td> -->
              <!-- <td>{{ task.date | date: 'medium': null: 'ru' }}</td> -->
              <!-- <td> -->
                  <!-- <button  -->
                  <!-- class="btn brn-link open" -->
                  <!-- [routerLink]="['/admin', 'post', task.id, 'edit']">Открыть пост</button> -->
                  <!-- <a (click)="remove(post.id)">Удалить</a> -->
              <!-- </td> -->
          <!-- </tr> -->
      <!-- </tbody> -->
  <!-- </table> -->
<!--  -->
<!-- </div> -->
<!--  -->
<!-- <ng-template #loading> -->
  <!-- <p class="text-center">Загрузка</p> -->
<!-- </ng-template> -->