.container {
    max-width: 900px;
    margin: 40px auto;
}

.buttons {
    text-align: right;
        a {
            margin-left: 10px;
    }
}

#close {
    cursor: pointer;
    text-align: right;
    padding: 8px 12px;
    font-size: 30px;
}

.edit {
    padding: 8px 14px;
        &:hover {
         color: red;
    }
}
